{% extends 'shop/basic.html' %}

{% block title %}About Us{% endblock %}
{% block body %}{% load static%}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Home Cart</h1>
        <p>Home Cart is an E-commerce DEMO Website.I have built this web application using Django, html, css, javascript.This is my second project which is an E-commerce Website.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Text Utilities</h2>
          <p>This is my first project 'Text Utilities'.This is a static Website with can convert text to various options like Capitalize, remove extra spaces, remove new line, remove punctuations from the entire text.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>E-commerce</h2>
          <p>This is my second project. Home Cart is an E-commerce Website which is dynamic.This Website uses Django, html, css, javascript.</p>      
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Social Media Site</h2>
          <p>This is my Third Website.<b>UNDER CONSTRUCTION.</b></p>  
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
{% endblock %}